ARM_CLIENT_ID={servicePrincipal appId(clientId)}
ARM_CLIENT_SECRET={servicePrincipal password}
ARM_SUBSCRIPTION_ID={subscriptionId}
ARM_TENANT_ID={tenantId}
DATABRICKS_ACCOUNT_ID={databricks_account_id}

TF_VAR_ARM_CLIENT_ID={servicePrincipal appId(clientId)}
TF_VAR_ARM_CLIENT_SECRET={servicePrincipal password}
TF_VAR_ARM_SUBSCRIPTION_ID={subscriptionId}
TF_VAR_ARM_TENANT_ID={tenantId}
TF_VAR_DATABRICKS_ACCOUNT_ID={databricks_account_id}